#mainLogin
{ 

   background-image: url("./images/loginBG.jpg") ;
   background-size: cover;
   height: 100vh;
 
}
.topleft{
   margin-top: 25vh; 
   /* margin-left:150px ;   */
}

#formDiv{
   
   background: rgba(0, 0, 0, 0.5);

   height: 100vh;
}  